/*Start portfolio*/
img {
  max-width: 100%;
  max-height: 100%;
}

.portfolio-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.portfolio-item:last-child {
  margin-bottom: 0;
}

.portfolio-img {
  width: 50rem;
  flex: 1;
}

.portfolio-description {
  flex: 1;
}

.portfolio-description h1 {
  font-size: 3rem;
  font-weight: 300;
  margin: 1rem 0;
}

.portfolio-description h6 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  opacity: 0.3;
}

.portfolio-description .cta {
  display: inline-block;
  margin-top: 2.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: white;
  transition: color 650ms;
}

/* CTA BUTTON */

.cta {
  margin: 0.3rem auto;
  background-color: rgb(151, 108, 180);
  height: 4rem;
  width: 14rem;
  cursor: pointer;
  transition: 0.2s ease-in;
  border-radius: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  animation: pulse 2s infinite;
}

/*Start animations*/
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(65, 136, 132, 0.99);
  }

  100% {
    box-shadow: 0 0 0 1.4rem rgba(65, 136, 132, 0);
  }
}
/*End animations*/

.portfolio-description .cta:hover {
  color: #2f67cd;
}

/*End Portfolio*/
